.btn
{
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
    border:none;
    background-color:#51AA1B;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 2px;
    
    &:hover
    {
        background-color: #F9C938;
    }

    &--navigate-arrow
    {
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: #F6F6F6;
        &:hover
        {
            color: #FFFFFF;
            background-color: $primary-color;
        }
    }

    &--warning
    {
        color: #FFFFFF;
        background-color: #C82333;
        &:hover
        {
            background-color: rgba(200, 35, 51, .8);
        }
    }

    &--secondary
    {
        font-size: 1.2rem;
        color: #222222;
        background-color: #FFFFFF;
    }
}